<div class="row">
  <div class="col-12" style="border:1px solid blue;">
    <div class="row" style="background-color: blue">
      <div class="col-8 title-zona">
        <span>{{zonaPuntuacion.nombre}}</span>
      </div>
      <div class="col-4 text-right"><span style="color:white; font-weight: 600">{{zonaPuntuacion.points}} pts</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <table class="table table-striped">
          <tr>
            <th>Segregación</th>
            <th>Semana</th>
            <th>Mes</th>
            <th>Año</th>
            <th>Puntuacion mensual</th>
          </tr>
          <tr *ngFor="let segregacion of zonaPuntuacion.segregaciones">
            <td>{{segregacion.nombre}}</td>
            <td class="text-center">{{segregacion.week}}</td>
            <td class="text-center">{{segregacion.month}}</td>
            <td class="text-center">{{segregacion.year}}</td>
            <td>
              <div class="d-flex align-items-center no-block">
                <div style="display:inherit">
                  <div *ngFor="let number of segregacion.iconosRellenos" width="16px" [ngClass]="{
                          'coin-icon': number == 1,
                          'coin-original-icon': number == 0
                        }"></div>
                </div>
                <span class="numero-calificacion">
                  {{segregacion.puntuacionMonth}}
                </span>
              </div>


            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>