<div *ngIf="isLoaded">
  <p>Page test</p>
  <!-- <app-progreso-semana [contenedores]="contenedores"></app-progreso-semana> -->
  <!-- <app-ranking-zonas [contenedores]="contenedores"></app-ranking-zonas> -->
  <!-- <app-listado-basuras></app-listado-basuras> -->
  <!-- <app-ranking-residuos></app-ranking-residuos> -->
  <!-- <app-ranking-zonas></app-ranking-zonas> -->
  <!-- class="animated fadeInLeft col-12 col-lg-6" -->
  <!-- <app-problemas-zonas></app-problemas-zonas> -->
  <app-problemas-residuos></app-problemas-residuos>
</div>
