<div class="card">
  <div class="card-body">
    <h1 class="card-title">Ranking segregación por Zonas</h1>
    <div *ngIf="false">
      {{ zonas | json }}
    </div>
    <div *ngIf="loaded; else cargandoDatosDiv">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2>Resumen Mensual</h2>
          <canvas
            baseChart
            [datasets]="resumenMensualChart.datasets"
            [labels]="resumenMensualChart.labels"
            [options]="this.chartOptionsPuntuacionMensual"
            chartType="horizontalBar"
            [legend]="false"
          ></canvas>
        </div>
        <div class="col-xs-12 col-md-6">
          <h2>Resumen Anual</h2>
          <canvas
            baseChart
            [datasets]="resumenAnualChart.datasets"
            [labels]="resumenAnualChart.labels"
            [options]="this.chartOptionsPuntuacionAnual"
            chartType="horizontalBar"
            [legend]="false"
          ></canvas>
        </div>
      </div>
      <p></p>
      <hr />
      <p></p>
      <div *ngFor="let zona of zonas; let idx = index">
        <div class="row">
          <div class="col-12">
            <h2>
              <span [ngClass]="['badge', zona.numeroZonaSafe]">{{ zona.nombre.split(' - ')[0] }}</span>
              - {{ zona.nombre.split(' - ')[1] }}
            </h2>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4 text-truncate">
                <span class="font-bold">Calificación semana</span>
                <div class="d-flex align-items-center no-block">
                  <star-rating
                    staticColor="positive"
                    size="medium"
                    [readOnly]="true"
                    labelPosition="right"
                    [rating]="zona.estrellasWeek"
                  >
                  </star-rating>
                  <span class="numero-calificacion">{{ zona.estrellasWeek }}</span>
                </div>
              </div>
              <div class="col-4 text-truncate">
                <span class="font-bold">Calificación mes</span>
                <div class="d-flex align-items-center no-block">
                  <canvas
                    baseChart
                    [datasets]="zona.graficaMes.datasets"
                    [labels]="zona.graficaMes.labels"
                    [options]="zona.graficaMes.chartOptions"
                    chartType="horizontalBar"
                    [legend]="false"
                    [colors]="chartColorsNiveles"
                  ></canvas>
                  <!-- <star-rating staticColor="positive" size="medium" [readOnly]="true" labelPosition="right"
                  [rating]="zona.numEstrellaMes">
                </star-rating>
                <span class="numero-calificacion">{{
                  zona.numEstrellaMes
                }}</span> -->
                </div>
              </div>
              <div class="col-4 text-truncate">
                <span class="font-bold">Calificación año</span>
                <div class="d-flex align-items-center no-block">
                  <canvas
                    baseChart
                    [datasets]="zona.graficaAnio.datasets"
                    [labels]="zona.graficaAnio.labels"
                    [options]="zona.graficaAnio.chartOptions"
                    charType="horizontalBar"
                    [legend]="false"
                    chartType="horizontalBar"
                    [colors]="chartColorsNiveles"
                  ></canvas>
                  <!-- <star-rating
                  staticColor="positive"
                  size="medium"
                  [readOnly]="true"
                  labelPosition="right"
                  [rating]="zona.numEstrellaAnio"
                >
                </star-rating>
                <span class="numero-calificacion">{{
                  zona.numEstrellaAnio
                }}</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
      </div>
    </div>
    <ng-template #cargandoDatosDiv><span>Cargando datos...</span></ng-template>
  </div>
</div>
