.badge.zona-1,
.badge.zona-1-- {
  color: #fff;
  background-color: #007bff;
}
.badge.zona-2 {
  color: #fff;
  background-color: #6c757d;
}
.badge.zona-3 {
  color: #fff;
  background-color: #28a745;
}
.badge.zona-4 {
  color: #fff;
  background-color: #ffc107;
}
.badge.zona-5 {
  color: #fff;
  background-color: #17a2b8;
}
.badge.zona-6 {
  color: #000;
  background-color: #f8f9fa;
}
.badge.zona-7 {
  color: #fff;
  background-color: #343a40;
}
.badge.zona-8 {
  color: #fff;
  background-color: #dc3545;
}
.badge.zona-9 {
  color: #fff;
  background-color: #00ffdd;
}
.badge.zona-10 {
  color: #fff;
  background-color: #007bff;
}
.badge.zona-11 {
  color: #fff;
  background-color: #6c757d;
}
